<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    th:fragment="FooterFragment">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/main.css}" rel="stylesheet">
<style>

footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: auto;
}

footer p, footer a {
	color: white;
	margin: 0;
}

footer a {
	text-decoration: none;
}
</style>
</head>
<body>

	
    <!-- 푸터 -->
    <footer>
        <p>서울시청 © 2024</p>
    </footer>

	
</body>
</html>